/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* 1st Sections */
.firstSec{
background-color: #2D25A0;
    display: flex;
    justify-content: space-around;
    height: 677px; 
    margin-bottom: 70px 
}
.heading{
    height: 230px;
    width: 485px;
    margin-top: 207px;
    margin-bottom: 80px;
    font-size: 64px;
    color: #FFFFFF;
    margin-left: 156px ;   
    
}
.button{
    text-decoration: none;
    background-color:  #E02C6D;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    margin-left: 156px;
    margin-top: 27px;
    font-size: 16px;
}
.button:hover {
    background-color: rgba(71, 86, 129, 0.972);
}
.firstSec img{
    height: 438px;
    width: 556px;
    margin-top: 153px;
    margin-bottom: 86px;
    

}
.firstSec:hover img{
    transform: scale(1.5);
    transition: ease-in-out;
    animation-delay: 1s;
} 